BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Always

ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterStruct: false
  AfterControlStatement: false
  AfterClass: false
  BeforeElse: true
  IndentBraces: false

SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterTemplateKeyword: false

SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default

PointerAlignment: Right

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2

AllowAllArgumentsOnNextLine: true
BinPackArguments: true
BinPackParameters: true

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

ReflowComments: false
